.displayOff{
    display: none;
}
.selectListContainer{
    max-width: 800px;
    width: 14rem;
    height: 16rem;
    background-color: white;
    border: 5px solid rgb(107, 107, 255);
    border-radius: 5px;
    font-size: 20px;
}
.windowIcons{
    background-color: rgb(107, 107, 255);
    display: flex;
    justify-content: space-between;
}
.listGroup{
    padding: 5px;
}
.buttonList{
    display: flex;
    width: 100%;
    font-size: 15px;
}
li{
    list-style: none;
}
