.Welcome{
    position: absolute;
    top: 1rem;
    left: 5rem;
    color:white;
    font-size: 5vw;
    font-style: italic;
}
.appContainer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px)  {
   
      .Welcome{
          position: relative;
          top: 0;
          left: 0;
          font-size: 5rem;
      }
    .appContainer{
        flex-direction: column;
    }
}